*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: lightgrey;
}
h1{
    text-align: center;
    font-size: 125px;
    background-color: darkred;
    
}

#start{
   display: flex;
   margin-top: 5%;
   justify-content: center; 
   gap: 50px ;
}

h2{
    text-align: center;
    font-size: 50px;
}
h3{
    text-align: center;
    font-size: 35px;
}
#start>div>button{
    margin-top: 20px;
    font-size: 40px;
    border-radius: 15px;
    width: 200px;
    margin-left: 25px;
    margin-right: 25px;
}

#main{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    flex-wrap: wrap;
     
}

#gameboard{
    width: 400px;
    height:400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}

#gameboard>button{
    background-color: grey;
    height: 32%;  
    width: 32%;
    margin-top: 0;
    border-style: none;
    border-radius: 9px;
    font-size: 80px;
}
#gameboard>button:hover{
    background-color: rgb(161, 160, 160);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   
}

#main>div{
    width: 400px;
    height:400px;
    
}  
    
#playagain{
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}   
#playagain>button{
    width: 200px;
    height: 25px;
    border-radius: 9px;
    border-style: double;
    font-size: large;
    background-color: red;
    color: white;
}